.addres
    &-wrap
        display: flex
        justify-content: space-between
        padding-top: 50px
    &-contact
        vertical-align: middle
        &__icon
            max-width: 40px
            max-height: 40px
        &__text
