body
    background-image: url(../img/bcg/bc.png)
.hero
    background-image: url(../img/bcg/bcg-header.jpg)
    max-width: 1920px
    min-height: 800px
    margin: auto
.offer
    background-image: url(../img/bcg/bcg-orange.jpg)
    background-repeat: no-repeat
    background-position: center 
    background-repeat-x: repeat
    // padding-bottom: 40px
    max-width: 1920px
    margin: auto